.app__header {
    margin-top: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(47, 189, 255, 0.8);
}

.login {
    color: black;
    padding-right: 5px;
    padding-top: 10px;
    float: right;
}