a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.nav {
    /* position: fixed; */
    margin-top: 10px;
    padding-top: 10px;
    width: 30px;
    height: 230px;
    border-radius: 30px;
    background-color: #eceaea;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.item {
    text-align: center;
    border-radius: 50%;
}

.icons {
    transition: transform 0.3s;
    width: 15px;
    height: 15px;
    padding-bottom: 20px;
}

.icons:hover {
    transform: scale(1.4);
}

/* .item a:active,
.item a:focus {
    font-weight: 700;
    font-size: 16px;
} */
