.profileInfo__container {
    display: flex;
    height: 350px;
    background-color: #cbcbcb;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 10px;
}

.avatar__container {
margin-left: 10px;
margin-top: 30px;
}

.avatar__img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.description__container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.description {
    align-self: center;
    margin-right:  300px;
}

.status {
    margin-bottom: 10px;
    text-align: center;
}


